.main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.canva{
    width: 100%;
    height: 100%;
}


.controls {
  border: solid 1px var(--devmControls-color);
  border-radius: 10px;
  gap: 10px;
  overflow: hidden;
}

.controls :global(.react-flow__controls-button) {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--devmControls-color);
  color: var(--devmControls-color);
  width: 28px;
  height: 28px;
}

.controls :global(.react-flow__controls-button svg) {
  fill: var(--devmControls-color);
  max-width: 14px;
  max-height: 14px;
  transition: fill 0.2s ease-in-out;
}

.controls :global(.react-flow__controls-button:hover) svg {
  fill: var(--devmControls-color-hv);
}

.controls:hover {
    border-color: var(--devmControls-border-hv);
    transition: border-color 0.2s ease-in-out;
    background-color: var(--devmControls-bg-hv);
    transition: background-color, border-color 0.2s ease-in-out;

}