.div {
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    background-color: var(--bg-transparent);
    border-radius: 50px;
    width: 60%;
    align-items: center;
    margin-bottom: 40px;
    padding: 15px 40px 15px 40px;
    border: solid 2px var(--border);
    box-shadow: 0 3px 10px 0px var(--shadow-div);
    transition: 0.3s ease-in-out;
    gap: 40px;


}

.main:hover {
    border-color: var(--border-strong);
    box-shadow: 0 3px 18px 0px var(--shadow-div);


}

.div:hover {
    transition: all 0.3s ease-in-out;
    color: var(--text-hover);
    scale: 1.05;
}

.searchArea {
  flex: 1;
  min-width: 0;
  align-items: center;
}