.header,
.header2 {
  transition: height 0.3s ease, background-color 0.3s ease;
}

.header, .header2 {
    display: flex;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    background-color: var(--bg-bt);
    margin: 0px;
    margin-right: 2px;
    height: 60px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    padding-right: 20px;
    z-index: 2;
}

.header2 {
    height: 70px;
    z-index: 10;
    border-bottom: solid 2px var(--border2);
}

.menu-bar {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 10px;
}

.menu-item {
    text-decoration: none;
    color: var(--text);
    transition: 0.2s,  box-shadow 0.3s ease;
    cursor: pointer;


    &:hover {
        color: var(--text-h);
    }
}

.right-group {
  display: flex;
  align-items: center;
  gap: 16px; /* ajusta esse valor pra distância que quiser */
}

.active {
    border-bottom: 2px solid var(--accent);
    background-color: transparent;
    color: var(--text-h);
    transition: all 0.2s ease;
    padding: 5px;
    padding-bottom: 20px;


}

.devModeBt {
  position: relative;
  border: solid 1px var(--border-hv);
  background-color: var(--bg-bt);
  margin-right: 80px;
  padding: 10px 25px 10px 25px;
  border-radius: 25px;
  transition: scale 0.3s ease, border-radius 0.8s ease, box-shadow 0.3s ease, background-color 0.3s ease-in-out;
  font-weight: bold;
  overflow: hidden;
  z-index: 0;
}

.devModeBt::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(270deg, var(--background), var(--border-hv), var(--accent), var(--bg-border-focus), var(--border-hv), var(--background));
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
  z-index: -1;
  border-radius: 50px;
}

.devModeBt:hover {
  background-color: transparent;
  box-shadow: 0 0 15px var(--shadow-light);
}

.devModeBt.activeDev {
  background-color: transparent;
  color: var(--text-h);
  box-shadow: 0 0 15px var(--shadow-light);
}

.devModeBt:hover::before {
  opacity: 1;
}

.devModeBt.activeDev {
  color: var(--text-h);
  box-shadow: 0 0 15px var(--shadow-light);
}

.devMode {
  display: flex;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 60px;
  z-index: 1;
  background-color: var(--bg-bt);
  border-radius: 50px;
  gap: 20px;
}

.exitBt {
  display: flex;
  position: fixed;
  top: 10px;
  right: 12px;
  height: 25px;
  width: 25px;
  z-index: 1;
  cursor: pointer;
  color: var(--devmControls-color);

}
.exitBt:hover {
  transform: scale(1.05);
  color: var(--danger-transp);
  transition: all 0.2s ease-in-out;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}