/* Container principal */
.search_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

/* Campo de Input */
.search_input {
  width: 100%;
  height: 40px;
  padding: 10px 16px 10px 42px; /* Espaço na esquerda para o ícone */
  font-size: 0.8rem;
  color: var(--input-text);
  background-color: var(--bg-bt);
  border: 1px solid var(--border);
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

/* Estado de Foco (Hover e Focus) */
.search_input:hover {
  border-color: var(--border-hv);
}

.search_input:focus {
  border-color: var(--bg-border-focus); /* Cor de destaque/Primary */
  box-shadow: 0 0 5px 3px var(--shadow-input); /* Brilho ao focar */
  background-color: var(--bg-bt-hv);
}

/* Ícone de Lupa */
.search_icon {
  position: absolute;
  left: 14px;
  width: 18px;
  height: 18px;
  color: var(--icon-muted);
  pointer-events: none; /* Permite clicar através do ícone */
  transition: color 0.2s ease-in-out;
}

