#button-perfil {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-image: url("/eu.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.2s,  box-shadow 0.3s ease;


    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px var(--accent-border); /* sombra suave */
        
    }

}