.main {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 2cqmax;
    flex-wrap: wrap;
    border-bottom: solid 1px var(--border);
    max-height: 150px;
    width: 100%;
    
}


.category {
    display: flex;
    margin: 0px;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-hover);
    padding: 0px;
    letter-spacing: 1.1px;
}