.input-div {
    color:none;
    display: block;
    gap: 20px;
    width: 100%;
}


.input {
    font-size: 16px;
    font-family: var(--sans);
    color: var(--text);
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 25px;
    padding: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    
}

.input-fieldset {
    font-size: 16px;
    font-family: var(--sans);
    color: var(--text);
    border: solid 1px var(--border);
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    padding: 0px;
    margin: 0px;

}

.input-fieldset:hover {
    border: solid 1px var(--border-hv);
    transition: 0.3s ease;

}

.input-fieldset:focus-within {
    transition: 0.3s ease;
    border: none;
    border-bottom: solid 1px #6b46c1;
    outline: none;
    box-shadow: 0 6px 10px #35235f;
    border: solid 1px #6b46c1;

}

.input-legend {
    text-align: left;
    font-size: 0.8rem;
    font-family: var(--sans);
    color: var(--text);
    padding: 0 10px;

}